[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.2.21"
markdown = "*"
pygments = "*"

[requires]
python_version = "3.7"
